.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-picture {
    height: 10em;
    width: 10em;

    margin-right: 5em;
    border-radius: 2em;
}

.profile-information {
    display: flex;
    flex-direction: column;
}

.profile-settings-button {

}